.button-style {
  border: 2px solid red;
  border-radius: 50%;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: orange;
  color: blue;
  font-weight: 900;
  font-size: 1.5rem;
  text-justify: center;
  padding-top: -20px;
  text-align: center;
  margin: auto;
}
